body{
  background-image: url("background.jpg")
  /*background-repeat:  no-repeat;*/
  /*background-position:center center;*/
  /*background-size:contain;*/
  /*width:100%;*/
  /*height:400px;*/
}
.paris{
  border:solid 3px;
  border-color: blue;
  height: 300px;
  weight: 300px;
}
.float{
  float: left;
}
.table2{
  text-align: center;
  border-color: orange;
  background-color: lightgreen;
  border-style: dotted
  font-color: #333333;
}
.explation{
  color: black;
  border:solid 5px;
  border-color: yellow;
  background-image: url("background3.jpg");
  border-style: outset;
  padding: 10px;
}
.explation2{
  color: black;
  boder:solid 5px;
  border-style: dashed;
  border-radius: 15px;
  border-color: yellow;
  background-image: url("background3.jpg");
  padding: 10px;
}
.explation3{
  color: black;
  boder:solid 5px;
  border-style: dashed;
  border-radius: 15px;
  border-color: yellow;
  box-shadow: 15px 15px 15px #333333;
  background-image: url("background3.jpg");
  padding: 10px;
}
.htmltitle{
  font-family: 'PT Serif', serif;
  color: yellow;
}
h1{
  color: red;
  font-family: 'Noto Serif JP', serif;
}
h2{
  color: green;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Tilt Prism', cursive;
}
h3{
  color: blue;
}
h4{
  color: purple;
}
h5{
  color: orange;
}
.large{
  font-size: 20px;
}
.large2{
  font-size: 25px;
}
.torikeshi{
  text-decoration: line-through;
}
.under{
  text-decoration: underline;
}
.background{
  color: black;
  background-color: lightgreen;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Tilt Prism', cursive;
}
